@use "./imports.scss" as *;
.header {
  @include above($desktop-width) {
    margin-bottom: -110px;
    z-index: 100;
    position: relative;
  }
}
.nav {
  &__list {
    font-size: 18px;
    line-height: 32px;
    background-color: #283645;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    @include above($desktop-width) {
      background-color: rgba(0, 0, 0, 0.3);
      border: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 400;
      text-transform: none;
      padding: 0px 130px;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 25px;
    &:not(:first-child)::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #000;
    }
    &::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(255, 255, 255, 0.15);
    }

    &--tablet {
      @include above($tablet-width) {
        padding-top: 27px;
        padding-bottom: 43px;
      }
    }
    @include above($desktop-width) {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &__img-container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    &--mobile {
      display: block;
      @include above($tablet-width) {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include above($tablet-width) {
        display: block;
      }
      @include above($desktop-width) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @include above($desktop-width) {
        display: block;
      }
    }
  }

  &__close {
    @include above($desktop-width) {
      display: none;
    }
  }
}
